#p{
    color: rgb(40, 30, 20);
    font-size: larger;
   
}

.p{
    font-size: x-large;
    color: white

}

body{
    background-color:rgb(100, 50, 100);
    font-size: medium;

}

#xavien{
    background-color:rgb(50, 75, 100);
    color: white;
    height: auto;
    width: auto;
    padding: 20px 10px 5px 2px;
    border: 5px  rgb(100, 100, 100) dotted;
    outline-style: groove;
    outline-color: rgb(1, 8, 15);
    outline-width: thick;
    margin: 30px;
}


#karla{
    background-color:rgb(201, 101, 35);
    color: rgba(255, 255, 255, 0.61);
    height: 100px;
    width:  200px;
    padding: 30px 20px 15px 5px;
    border-width: 10px 5px;
    border-color:rgb(100, 75, 100);
    border-radius: 40px 40px 40px 40px;
    border-style: ridge;
    margin: 10px;
}

#travel{
    background-image: url(travel.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 200px;
    width: 400px;
    padding: 10px blue;
    margin: 10px;
    border-style:groove;
    border-radius: 30px;
}

.child{
    background-color: rgba(131, 209, 240, 0.788);
    color: white  
}

.parent{
    font-size: xx-large
}

#float{
    background-color:rgb(201, 101, 35);
    color: white;
    margin: 10px;
    padding: 20px;
    height: 50px;
    width: 100px;
    float: right

}